<!DOCTYPE HTML>

<html>
	
	{{ partial "template/head" . }}

<body class="is-preload">
	<a href="../#{{ .Section }}" style="position:absolute;top:10px;right:20px;z-index:20;background:white;" class="button icon solid fa-chevron-left">
		Zurück
	</a>
	<div id="wrapper" class="divided">
		
		  
		<section class="banner {{ .Params.style }} orient-{{ .Params.orient }} content-align-left image-position-{{ .Params.imagepos }} onload-image-fade-in onload-content-fade-right">
			<div class="content">
				<a href="/" title="Startseite" ><img src="../logo.jpg" style="max-width:250px;"></a>
				<br><br>
				{{ with .Title }}<h1>{{.}}</h1>{{end}}
				
				<p>{{ .Content }}</p>
			</div>
			<div class="image">
				<img src="{{ .Params.image }}.jpg" alt="" />
			</div>
		</section>

    {{ range sort (where .Data.Pages "Section" .Section ) "File.Path" }}
		<section class="spotlight {{ .Params.style }} orient-{{ .Params.orient }} content-align-left image-position-{{ .Params.imagepos }} onload-image-fade-in">
			<div class="content">
				{{ if isset .Params "title" }}<h2>{{ .Title }}</h2>{{ end }}
				<p>{{ .Content }}</p>
			</div>
			<div class="image">
				<img src="{{ .Params.image }}.jpg" alt="" />
			</div>
		</section>
		<!-- Wrapper -->
    {{ end }}

		
<br><br>
<section class="wrapper style1 align-center">
	<div class="inner">
		<div class="index align-left">

					<section id="Kontakt">
						<header>
							<h2>Check und Buchung</h2>
						</header>
						<div class="content">

<div class="skd-widget" data-skd-widget="check-availability" data-skd-languagecode="de" data-skd-show-language="false" data-skd-search-id="WEBSITE14" data-skdshow-currency="false" data-skd-show-header="false" data-skd-is-themeable="false"
data-skd-auto-search="true" data-skd-send-to-groups="A" data-skd-listentogroups="B" ><div style="width:100%; min-height:50px; text-align:center;"><img
src="https://static.seekda.com/assets/images/skd_spinner.gif" /><noscript>Your
browser doesn't support JavaScript or it has been disabled. To use the booking
engine, please make sure to get JavaScript running.</noscript></div></div>

<br><br>

<div class="skd-widget" data-skd-widget="offer-list" data-skd-language-code="de"
data-skd-is-themeable="false" data-skd-sort-order="price" data-skd-hidepackages="false" data-skd-hide-rates="false" data-skd-cheapest-offer-only="false"
data-skd-send-to-groups="B" data-skd-listen-to-groups="A"><div style="width:100%;
min-height:100px; text-align:center;"><img
src="https://static.seekda.com/assets/images/skd_spinner.gif" /><noscript>Your
browser doesn't support JavaScript or it has been disabled. To use the booking
engine, please make sure to get JavaScript running.</noscript></div></div>

		</div>
	</div>
</section>


<br><br>
<section class="wrapper style1 align-center">
			<div class="inner">
				<div class="index align-left">
					<section id="Kontakt">
						<header>
							<h2>Anfrage</h2>
						</header>
						<div class="content">

							<form method="post" action="https://forms.un-static.com/forms/309772da1c7eb15635637ea182b4e11d6e9eecc4">
								<div class="fields">
									<div class="field third">
										<label for="name">Name *</label>
										<input type="text" name="name" id="name" value="" required="required" />
									</div>
									<div class="field third">
										<label for="email">Email *</label>
										<input type="email" name="email" id="email" value="" required="required" />
									</div>
									<div class="field third">
										<label for="email">Telefon *</label>
										<input type="text" name="phone" id="phone" value="" required="required" />
									</div>
									<div class="field">
										<label for="email">Adresse</label>
										<input type="text" name="adr" id="adr" value="" />
									</div>
									<div class="field">
										<label for="message">Nachricht *</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
									<div class="field">
										<input type="checkbox" id="newsletter" name="newsletter" />
										<label for="newsletter">Ja, schicken Sie mir bitte Ihren Newsletter
										</label>
									</div>
									<div class="field">
										<input type="checkbox" id="preisliste" name="preisliste" />
										<label for="preisliste">Ja, schicken Sie mir bitte die Preise ihrer Appartements.
										</label>
									</div>
									<div class="field">
										<input type="checkbox" id="datenschutz" name="datenschutz" required="required" />
										<label for="datenschutz">Ja, ich habe die <a href="datenschutz">Datenschutzerklärung</a> gelesen und erkläre mich damit einverstanden
										</label>
									</div>

								</div>
								<ul class="actions">
									<li><input type="submit" name="submit" id="submit" value="Absenden" /></li>
								</ul>
							</form>

						</div>
					</section>
				</div>
			</div>
		<a href="../#{{ .Section }}" style="float:right;margin:20px;z-index:10" class="button icon solid fa-chevron-left">
			Zurück
		</a><br><br><br>
</section>

	{{ partial "template/footerapm" . }}

	</div>

	{{ template "_internal/google_analytics.html" . }}
	{{ partial "template/scripts" . }}

	</body>
</html>