<!DOCTYPE HTML>

<html>
	
	{{ partial "template/head" . }}

	<body class="is-preload">
		<a href="../#{{ .Section }}" style="position:absolute;top:10px;right:20px;z-index:10;background:white;" class="button icon solid fa-chevron-left">Zurück</a>
		<!-- Wrapper -->
		<div id="wrapper" class="divided">
		  
		<section class="banner {{ .Params.style }} orient-{{ .Params.orient }} content-align-left image-position-{{ .Params.imagepos }} onload-image-fade-in onload-content-fade-right">
			<div class="content">
				<a href="/" title="Startseite"><img src="/logo.jpg" style="max-width:250px"></a>
				<br><br>
				{{ with .Title }}<h1>{{.}}</h1>{{end}}
				
				<p>{{ .Content }}</p>
			</div>
			<div class="image">
				<img src="{{ .Params.image }}.jpg" alt="" />
			</div>
		</section>

          {{ range sort (where .Data.Pages "Section" .Section ) "File.Path" }}

			<section class="spotlight {{ .Params.style }} orient-{{ .Params.orient }} content-align-left image-position-{{ .Params.imagepos }} onload-image-fade-in">
				<div class="content">
					{{ if isset .Params "title" }}<h2>{{ .Title }}</h2>{{ end }}
					<p>{{ .Content }}</p>
				</div>
				<div class="image">
					<img src="{{ .Params.image }}.jpg" alt="" />
				</div>
			</section>
		<!-- Wrapper -->
          {{ end }}

		<section class="wrapper style1 align-center">
			<div class="inner">
				<div class="index align-left">
					<section id="Kontakt">
						<header>
							<h2>Anfrage</h2>
						</header>
						<div class="content">

							<form method="post" action="https://forms.un-static.com/forms/a04cd6d8f5c7794f1634fcac0fdb39624eca9de3">
								<div class="fields">
									<div class="field half">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" value="" required="required" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" value="" required="required" />
									</div>
									<div class="field">
										<label for="message">Nachricht</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
									<div class="field">
										<input type="checkbox" id="newsletter" name="newsletter" />
										<label for="newsletter">Ja, schicken Sie mir bitte Ihren Newsletter
										</label>
									</div>
									<div class="field">
										<input type="checkbox" id="preisliste" name="preisliste" />
										<label for="preisliste">Ja, schicken Sie mir bitte eine Preisliste Ihrer Weine
										</label>
									</div>
									<div class="field">
										<input type="checkbox" id="datenschutz" name="datenschutz" required="required" />
										<label for="datenschutz">Ja, ich habe die <a href="datenschutz">Datenschutzerklärung</a> gelesen und erkläre mich damit einverstanden
										</label>
									</div>

								</div>
								<ul class="actions">
									<li><input type="submit" name="submit" id="submit" value="Absenden" /></li>
								</ul>
							</form>

						</div>
					</section>
				</div>
			</div>
		<a href="../#{{ .Section }}" style="float:right;margin:20px;z-index:10" class="button icon solid fa-chevron-left">
			Zurück
		</a><br>
		<br><br>

		</section>
		
		{{ partial "template/footer" . }}

	</div>

	{{ template "_internal/google_analytics.html" . }}
	{{ partial "template/scripts" . }}

	</body>
</html>